<div class="content">
   <h1><%= @documents[0]['privacy_policy.page_title'].as_text() %></h1>
   <h1><%= @documents[0]['privacy_policy.test_data'].as_text() %></h1>
   <p><%= @documents[0]['privacy_policy.page_body'].as_html(nil).html_safe %></p>


</div>